@media all and (orientation: landscape) {
  .p-text-style-default {
    color: hsl(233, 8%, 62%);
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    width: 40%;
  }

  .why-choose-easybank {
    padding: 0 7%;
  }

  .reasons {
    margin-top: 60px;
    display: flex;
  }

  .img-reason {
    margin-bottom: 30px;;
  }

  .h3-text {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 20px;
    font-family: 'Public Sans';
    margin-bottom: 20px;
  }

  .p-text-card-desktop {
    width: 95%;
  }
}